{% extends 'base_html.html' %}

{% block title %}
  Evaluar Docente
{% endblock %}

{% block content %}
  <header class=''>
    {% include "layouts/partials/nav.html" with user_name=user_name %}
  </header>
  {% if messages  %}
  <div class="alert alert-{{ message.tags }} d-flex align-items-center fade show" role="alert">
    {% for message in messages %}
      <strong>{{ message }}</strong>
    {% endfor %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endif %}
  <main class='container d-flex justify-content-center align-items-center'>
    <div class="col-md-6">
      <h2 class="text-center text-light">Formulario para evaluar un docente</h2>
      <form class='row g-3 bg-dark p-4 rounded' method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <label class="input-group-text" for="{{ form.teacher.id_for_label }}">{{ form.teacher.label }}</label>
            {{ form.teacher }}
        </div>

        <div class="form-group mb-3">
            <label class="text-light" for="{{ form.rating.id_for_label }}">{{ form.rating.label }}</label>
            {{ form.rating }}
            {% if form.rating.errors %}
            <div class="invalid-feedback d-block">
              {% for error in form.rating.errors %}
                <p>{{ error }}</p>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-group mb-3">
            <label class="text-light" for="{{ form.comment.id_for_label }}">{{ form.comment.label }}</label>
            {{ form.comment }}
        </div>

        <button type="submit" class="btn btn-primary w-100">Enviar</button>
      </form>
    </div>
  </main>
{% endblock %}
